@import '../../../styles';

#todo-list-page {

  .line-through {

    text-decoration: line-through;

    .due-date {
      color: inherit;
    }

  }

  .task-details {
    font-size: 0.8em;
    color: $font-color-disabled;
  }

  .due-date {
    color: $font-color-due;
  }

}
