<beyond-modal
  [title]="title"
  [loading]="blockers.initializing"
  (close)="actionClose()"
  id="todo-edit-page">

    <beyond-modal-content *ngIf="!blockers.initializing && editedTask">

        <beyond-message
          *ngIf="info.message"
          [type]="info.type">
            {{ info.message }}
        </beyond-message>

        <div fxLayout>

            <form
              #taskForm="ngForm"
              fxLayout="row wrap"
              fxLayoutAlign="start start"
              fxFlex="50%"
              fxFlex.xs="100%"
              fxLayoutGap="10px">

                <mat-form-field fxFlex="100%">

                    <textarea
                      matInput
                      matTextareaAutosize
                      name="description"
                      placeholder="Description"
                      aria-label="Description"
                      maxlength="256"
                      [(ngModel)]="editedTask.description"
                      #description="ngModel"
                      [disabled]="blockers.api_processing"
                      required>
                    </textarea>

                    <mat-error *ngIf="description.touched && description.invalid && description.errors.required">
                        Description is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="description.touched && description.invalid && description.errors.maxlength">
                        Description can be max 256 characters long
                    </mat-error>

                </mat-form-field>

                <mat-form-field fxFlex="100%">

                    <mat-select
                      name="user"
                      placeholder="Assigned User"
                      aria-label="Assigned User"
                      [(ngModel)]="editedTask.assignedUserId"
                      #user="ngModel"
                      [disabled]="blockers.api_processing"
                      required>
                        <mat-option>None</mat-option>
                        <mat-option
                          *ngFor="let user of accountUsers"
                          [value]="user.id">
                            {{ user.userName }}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="user.touched && user.invalid && user.errors.required">
                        Task has to be assigned to somebody
                    </mat-error>

                </mat-form-field>

                <mat-form-field fxFlex="100%">

                    <input
                      matInput
                      name="dueDate"
                      placeholder="Due Date"
                      aria-label="Due Date"
                      [matDatepicker]="dueDate"
                      [min]="currentDate"
                      [(ngModel)]="editedTask.dueDate"
                      #dueDate="ngModel"
                      [disabled]="blockers.api_processing">
                    <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                    <mat-datepicker #dueDate></mat-datepicker>

                </mat-form-field>

                <mat-checkbox
                  name="isComplete"
                  aria-label="Is Complete"
                  [(ngModel)]="editedTask.isComplete"
                  [disabled]="blockers.api_processing">
                    Is Complete
                </mat-checkbox>

            </form>

        </div>

    </beyond-modal-content>

    <beyond-modal-footer *ngIf="!blockers.initializing && editedTask">

        <span>
            <button
              *ngIf="editedTask && editedTask.id"
              (click)="actionConfirmDeleteTask()"
              [disabled]="blockers.api_processing"
              mat-button
              class="beyond-btn urgent-btn"
              aria-label="Delete">
                Delete
            </button>
        </span>

        <span>
            
            <button
              (click)="actionClose()"
              [disabled]="blockers.api_processing"
              mat-button
              class="beyond-btn text-btn"
              aria-label="Cancel">
                Cancel
            </button>

            <button
              (click)="actionConfirmSaveTask()"
              [disabled]="disableSaveButton()"
              mat-button
              class="beyond-btn basic-btn"
              aria-label="Save">
                Save
            </button>
            
        </span>

    </beyond-modal-footer>

</beyond-modal>
