<beyond-page id="todo-list-page">

    <beyond-page-header title="TODO List">

        <button
          *ngIf="!blockers.initializing && tasksEditingAllowed"
          (click)="actionOpenTaskModal()"
          mat-button
          class="beyond-btn">
            Add Task
        </button>

        <beyond-search #search></beyond-search>

    </beyond-page-header>

    <beyond-progressbar [value]="percentComplete"></beyond-progressbar>

    <beyond-message
      *ngIf="info.message"
      [type]="info.type">
        {{ info.message }}
    </beyond-message>

    <beyond-card
      *ngIf="tasks.length > 0"
      title="Tasks"
      fxFlexAlign="start"
      fxLayout="column"
      fxLayoutGap="20px">

        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="10px"
          fxLayoutFill
          *ngFor="let task of visibleTasks">

            <mat-checkbox
              [checked]="task.isComplete"
              [disabled]="blockers.task === task.id"
              (change)="onTaskStatusChange(task)"
              [disableRipple]="true"
              [aria-label]="task.description">
            </mat-checkbox>

            <div
              fxLayout="column"
              fxLayoutAlign="start start"
              fxFlex="auto"
              [ngClass]="{'line-through': task.isComplete}">

                <div fxLayout="column">
                    <b>{{ task.description }}</b>
                </div>

                <div fxLayout="row" fxLayout.xs="column" class="task-details">
                    <span>Assigned to: {{ task.assignedUsername }}</span>&nbsp;
                    <span *ngIf="task.dueDate; else noDueDate" class="due-date">Due date: {{ task.dueDate }}</span>
                    <ng-template #noDueDate>
                        <span>No due date set</span>
                    </ng-template>
                </div>

            </div>

            <button
              *ngIf="tasksEditingAllowed"
              (click)="actionOpenTaskModal(task.id)"
              mat-button
              class="beyond-btn text-btn"
              aria-label="Edit task">
                Edit
            </button>

        </div>

    </beyond-card>

</beyond-page>
