/* You can add global styles to this file, and also import other style files. */
$font-color: #58595B;
$font-color-disabled: #A7A9AC;
$font-color-due: #d12020;

#page_frame{
  overflow-y: auto !important;
}

.text-center {
  text-align: center;
}

.container {
  padding: 30px;
}

beyond-progressbar {
  display: flex;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }
}
